{
 "slack": {
  "apiToken": "XXXXXXXXXX",
  "autoReconnect": true,
  "autoMark": true
 },
 "db": {
  "user": "XXXXX",
  "password": "XXXXX",
  "database": "XXXXX",
  "host": "localhost",
  "port": 5432
 },
 "dbPool": {
  "name": "postgresql_conn_pool",
  "min": 0,
  "max": 10,
  "idleTimeoutMs": 60000,
  "logging": false
 },
 "bot": {
	 "name": "botintosh",
   "songs": {
     "rankThreshold": 0.07
   },
   "logging": {
     "userMessages": true
   }
 }
}
